<footer>
    <div class="row">
        <div class="col-md-3">
            <p class="text-center text-footer"><a class="link-footer" href="">Entre em contato com PDA</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-center text-footer"><a class="link-footer" href="">Política de privacidade</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-center text-footer"><a class="link-footer" href="">Termos de uso</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-center text-footer"><a class="link-footer" href="">Sobre nós</a></p>
        </div>
        <p class="text-center text-footer" style="margin-top: 3%;">&copy; PDA 2023</p>
    </div>
</footer>