<!-- Login-->
<section id="login" class="container">
    <!-- img background inferior-->
    <div class="fundo-inf"><img src="/img/svg/background-login-inferior.svg" alt="background-login"></div>

    <div class="row wrapper">
        <div class="col-md-6 centralizar">
            <img src="/img/svg/PDA-logo-login.png" alt="PDA-logo" id="img-login">
            <img src="/img/svg/PDA-logo.svg" alt="PDA-logo" id="img-login2">
        </div>
        <div class="col-md-6">
            <!-- img fundo superior -->
            <div class="fundo-sup"><img src="/img/svg/background-login-superior.svg" alt="background-login"></div>

            <div class="card-login">
                <p class="titulo-login">Redefinir senha</p>
                <form action="/aluno/redefinirsenha" method="post">
                    <div class="form-group mb-3">
                        <label for="codigo-etec" class="text-login">Código da ETEC</label>
                        <input type="text" class="form-control box-red" id="codigo-etec" name="codigo_etec" required maxlength="3">
                    </div>
                    <div class="form-group mb-3">
                        <label for="rm" class="text-login">RM</label>
                        <input type="text" class="form-control box-red" id="rm" name="rm" required maxlength="5">
                    </div>
                    <div class="form-group">
                        <label for="cod" class="text-login">Código de acesso</label>
                        <input type="text" class="form-control box-red" id="cod" name="codigoRec" required maxlength="8">
                        <div class="senha_sub">
                            <p>O código de acesso foi enviado para seu email, verifique a <b>caixa de entrada</b> e <b>spam</b></p>
                        </div>
                    </div>
                    <button type="submit" class="red-btn mb-3" id="verify">Verificar dados</button> 
                    {{!-- ^  --}}
                    {{!-- I  aqui ele deve fazer uma confirmação no BD para ver se o código coincide com o que foi enviado no email (dá para fazer uma comparação no method post vendo se o código "senha" é este que ele digitou ) 
                    daí vai enviar pra próxima página -> 'atualizarsenha', onde só deve ser acessada se o Email/RM/Código Acesso dessa página forem veridicos  --}}
                </form>
            </div>
        </div>
    </div>
</section>